.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.65);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin: 8px;
}

.photo-details-modal__image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 0% 0 0%;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-main-modal__item {
  margin-left: 60px;
  margin-right: 60px;
  padding: 0px;
  border: none;
  max-width: fit-content;
  -webkit-box-shadow: 0px 0px 18px -3px rgba(226,226,226,0.95); 
  box-shadow: 0px 0px 18px -3px rgba(226,226,226,0.95);
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin: 20px;
  width: 90%;
  padding-top: 15px;
  border-top: 1px solid gray;
}